{% extends "base.html" %}
{% block home %}

Edit Maker!

<form action="/makers/update/{{maker.id}}" method="post">
<div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{maker.name}}" required>
</div>

<div>
    <label for="contact">Contact:</label>
    <input type="text" id="contact" name="contact" value="{{maker.contact}}" required>
</div>

<div>
    <label for="telephone">Tel:</label>
    <input type="text" id="tel" name="tel" value="{{maker.tel}}" required autofocus>
</div>

<div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" value="{{maker.email}}" required autofocus>
</div>


<button type="submit">Update Maker</button>
</form>

<form action="/makers/delete/{{maker.id}}" method="POST">
    <input type="submit" value="Delete Maker">
</form>

{% endblock %}