{% extends "base.html" %}
{% block home %}

<header>
    <div>
        <nav>
            
            <span><a href="{{ url_for('home') }}">home</a></span>
            <span><a href="{{ url_for('guitars.guitars') }}">guitars</a></span>
            <span><a href="{{ url_for('guitars.makers') }}" style="color:red">makers</a></span>
            
        </nav>
    </div>
</header>

<br>
<div style="text-align:center;">
    <b>editing maker</b>
    </div>

    <section class="guitar-container">

        <div class="new-guitar">

<form action="/makers/update/{{maker.id}}" method="post">

<div>
    <label for="name">Name:</label>
    <textarea  id="name" name="name" rows="1" cols="35" required>{{maker.name}}</textarea>
</div>

<div>
    <label for="contact">Contact:</label>
    <textarea id="contact" name="contact" rows="1" cols="35" required autofocus>{{maker.contact}}</textarea>
</div>

<div>
    <label for="telephone">Phone number:</label>
    <input type="text" id="tel" name="tel" class="tel-input" value="{{maker.tel}}" required autofocus>
</div>

<div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" class="email" value="{{maker.email}}" required autofocus>
</div>

<div>
    <label for="Active">Active?</label>
    <select id="active" name="active">

    <option value="true"
        {% if maker.active == True %} selected="selected" {% endif %}>
        Yes
    </option>

    <option value="false"
        {% if maker.active == False %} selected="selected" {% endif %}>
        No
    </option>

    </select>
</div>


<button type="submit">Update Maker</button>
</form>
    

<form action="/makers/delete/{{maker.id}}" method="POST">
    <input type="submit" value="Delete Maker">
</form>

</div>
</section>

{% endblock %}