{% extends "base.html" %}

{% block home %}

<!-- NAVIGATION -->
<header>
    <div>
        <nav>
            
            <span><a href="{{ url_for('home') }}">home</a></span>
            <span><a href="{{ url_for('guitars.guitars') }}">guitars</a></span>
            <span><a href="{{ url_for('guitars.makers') }}" style="color:red">makers</a></span>
            
        </nav>
    </div>
</header>


<br>
    <div style="text-align:center;"><a href="/makers/new">add maker</a></div>

<!-- CONTAINER FOR GUITARS -->
<div class ="guitar-container">


<!-- EACH GUITAR -->
        {% for maker in all_makers %}
            
            <div class="guitar">
        
                <p><b>{{maker.name}}</b></p>
                <p>Contact: {{maker.contact}}</p>
                <p>Tel: {{maker.tel}}</p>
                <p>Email: {{maker.email}}</p>
                {% if maker.active == False %}
                    <p style="color:red;">MAKER INACTIVE!</p>

        {% endif %}

            <!-- Edit/delete button -->
            <form action="/makers/edit/{{maker.id}}" method="GET">
                <input type="submit" value="Edit/Delete">
            </form>

            </div>
        
        {% endfor %}

</div>



{% endblock %}