{% extends "base.html" %}

{% block home %}

<!-- NAVIGATION -->
<header>
    <div>
        <nav>
            
            <span><a href="{{ url_for('home') }}">home</a></span>
            <span><a href="{{ url_for('guitars.guitars') }}">guitars</a></span>
            <span><a href="{{ url_for('guitars.makers') }}" style="color:red">makers</a></span>
            
        </nav>
    </div>
</header>

<br>
    <div style="text-align:center;">
        <b>adding maker</b>
    </div>

<section class="guitar-container">

    <div class="new-guitar">

        <!-- START OF FORM -->

        <form action="/makers" method="post">

            <div>
                <label for="name">Name:</label>
                <textarea  id="name" name="name" rows="1" cols="35" placeholder="Name" required autofocus></textarea>
            </div>

            <div>
                <label for="contact">Contact:</label>
                <textarea id="contact" name="contact" rows="1" cols="35" placeholder="Contact" required autofocus></textarea>
            </div>

            <div>
                <label for="telephone">Phone number:</label>
                <input type="text" id="tel" name="tel" class="tel-input" placeholder="Tel no." required autofocus>
            </div>

            <div>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" class="email"  placeholder="Email" required autofocus>
            </div>



            <button type="submit">Add Maker</button>

        </form>
    </div>
</section>

{% endblock %}


