{% extends "base.html" %}
{% block home %}

<br>
<div style="text-align:center;">
    <b>adding new maker</b>
    </div>

<section class="guitar-container">

    <div class="new-guitar">

<form action="/makers" method="post">

<div>
    <label for="name">Name:</label>
    <textarea  id="name" name="name" rows="1" cols="35" placeholder="Name" required autofocus></textarea>
</div>

<div>
    <label for="contact">Contact:</label>
    <textarea type="text" id="contact" name="contact" rows="1" cols="35" placeholder="Contact" required autofocus></textarea>
</div>

<div>
    <label for="telephone">Phone number:</label>
    <input type="text" id="tel" name="tel" class="tel-input" placeholder="Tel no." required autofocus>
</div>

<div>
    <label for="email">Email address:&nbsp;</label>
    <input type="text" id="email" name="email" class="tel-input"  placeholder="Email" required autofocus>
</div>



<button type="submit">Add Maker</button>

</form>
</div>
</section>

{% endblock %}






<!-- <div>
    <label for="Active">Active:</label>
    <select id="active" name="active">
    <option value="true">Yes</option>
    <option value="false">No</option>
    </select>
</div> -->