body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    margin: 0;
    background-color: #c8ff6d;
    padding: 10px;
    color: black;
    
}

header > div > nav {
    display: flex;
    justify-content: space-around;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.guitar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.guitar {
    display: flex;
    flex-direction: column;
    width: 20vw;
    background-color: #617073;
    padding: 10px;
    margin:20px;
}


/* .guitars {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.guitar {
    border: 1px solid #ccc;
    width: 200px;
    min-height: 68px;
    padding: 10px;
    line-height: 18px;
    margin-bottom: 10px;
} */