body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

header {
    margin: 0;
    background-color: #c8ff6d;
    padding: 5px;
    color: black;
    
}

header > div > nav {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px; 
}

.link-container {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
}

header > div > nav > span > a {
    color: black;
}

header > div > nav > span > a:hover {
    color: red;
}

header > div > nav > span > a:active {
    color: red;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.guitar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.guitar {
    border: 1px solid black;
    width: 200px;
    background-color: #f3fceb;
    padding: 10px;
    margin:10px;
    overflow-wrap: break-word;
}

.new-guitar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 1px solid black;
    background-color: #f3fceb;
    padding: 10px;
    margin:10px;
    overflow-wrap: break-word;
}



a {
    text-decoration: None;
    font-weight: 550;
    color:black;
}

a:hover {
    color: red;
}

.link-button {
    background: none;
    border: none;
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-weight: 550;
    
}

.link-button:hover {
    color:red;
}

.link-button:focus {
    outline: none;
    color:red;
}

.link-button:active {
    color:red;
}


input[type='number']{
    width: 70px;
} 

.price-input {
    width:80px;
}

.price-edit {
    width:80px;
}


.tel-input {
    width:150px;
}

.email {
    width: 214px;
}

.stock-input {
    width:110px;
}

.homepage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.homepage_image {
    border: none;
    width: 200px;
    padding: 10px;
    margin:10px;
    overflow-wrap: break-word;
}


.slogan {
    font-family: 'Pirata One', cursive; 
    font-size:xx-large;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;

}
