{% extends "base.html" %}
{% block home %}


{% for guitar in all_guitars %}
<div>
    <div>
        
<p><b>{{guitar.name}}</b></p>
<p>{{guitar.description}}</p>
<p>{{guitar.stock}} in stock</p>
<p>Cost price: &pound;{{"{:.2f}".format(guitar.buy_price)}}</p>
<p>Retail price: &pound;{{"{:.2f}".format(guitar.sell_price)}}</p>
<p>Maker: {{guitar.maker.name}}</p>

<!-- Edit/delete button -->
    <form action="/guitars/edit/{{guitar.id}}" method="GET">
    <input type="submit" value="Edit/Delete">
    </form>

    </div>

</div>
<hr>
{% endfor %}

{% endblock %}