{% extends "base.html" %}
{% block home %}

<!-- NAVIGATION -->
<header>
    <div>
        <nav>
            
            <span><a href="{{ url_for('home') }}">home</a></span>
            <span><a href="{{ url_for('guitars.guitars') }}" style="color:red">guitars</a></span>
            <span><a href="{{ url_for('guitars.makers') }}">makers</a></span>
            
        </nav>
    </div>
</header>


<br>
<div class="link-container">
    <span><a href="/guitars/new">add guitar</a></span>
    <span><a href="/guitars">show all</a></span>

<!--FILTER GUITAR BY MAKER-->
    <span>
        <form action="/guitars/filterbymaker" method="post">
            <label for="maker"><b>filter:</b></label>
            <select id="maker_id" name="maker_id">
                {% for maker in all_makers %}
                    <option value="{{ maker.id }}">
                    {{ maker.name }}
                    </option>
                {% endfor %}
            </select>

            <button type="submit">Go</button>
        </form>
    </span>
</div>


    {% if all_guitars|length == 0 %}
        <div style="text-align:center;">
            <h2>No Items to Display</h2>
        </div>
    {% else %}
    
        
    
<div class="guitar-container">


    {% for guitar in all_guitars %}
        <div class="guitar">
            <p><b>{{guitar.name}}</b></p>
            <p>{{guitar.description}}</p>

            {% if guitar.stock == 0 %}
                <p style="color:red"><b>SOLD OUT!</b></p>
            {% elif guitar.stock <= guitar.min_stock %}
                <span>{{guitar.stock}} in stock</span><span style="color:red"> <b>STOCK LOW!</b></span>
            {% else %}
                <p>{{guitar.stock}} in stock</p>
            {% endif %}

            <p>Retail price: &pound;{{"{:.2f}".format(guitar.sell_price)}}</p>
            <p>Cost price: &pound;{{"{:.2f}".format(guitar.buy_price)}}</p>

            <p>Markup: &pound;{{ "{:.2f}".format(guitar.sell_price - guitar.buy_price) }}</p>
            <p>Maker: {{guitar.maker.name}}</p> 

            <!-- Edit/delete button -->
            <form action="/guitars/edit/{{guitar.id}}" method="GET" >
                <input type="submit" value="Edit/Delete">
            </form> 

        </div>
    {% endfor %}

</div>

{% endif %}

{% endblock %}